<div class="container">
    <div class="row positioning">
        <div class="column md-4 row-2">
            <div class="spacing" >
                <img src="/images/beer.png" class="index-img-size" alt="Cartoon beer jug" />
            </div>
            <div class="spacing">
                <button type="button" class="btn btn-primary light-blue-colorise"><a class="nav-item nav-link" href="/beers">Check the Beers!</a></button>
            </div>
            <div class="spacing">
                <button type="button" class="btn btn-primary light-blue-colorise"><a class="nav-item nav-link" href="/random-beer">Check a Random Beer!</a></button>
            </div>
        </div>
    </div>
</div>


